### Fax Core Permissions config, made by FAXES ###
#
### Do not touch this section
set Fax-Core true
start Fax-Core
### This sets the groups DO NOT TOUCH ###
add_ace Fax.owner owner allow	                            		    # sets ace permission for owners
add_ace Fax.snradmin snradmin allow	                            		# sets ace permission for snradmins
add_ace Fax.fadmin fadmin allow	                                    	# sets ace permission for admins
add_ace Fax.member3 member3 allow	                            		# sets ace permission for member3
add_ace Fax.member2 member2 allow	                            		# sets ace permission for member2
add_ace Fax.member1 member1 allow	                            		# sets ace permission for member1

### Start editing below, Don't have the same ID in 2 groups.
### Add People to Owner
add_principal identifier.steam:110000000000000 Fax.owner             	# add to the owner group             # add to the owner group

### Add People to Senior Admin
add_principal identifier.steam:110000000000000 Fax.snradmin             # add to the senior admin group
add_principal identifier.steam:110000000000000 Fax.snradmin            	# add to the senior admin group

### Add People to Admin
add_principal identifier.steam:110000000000000 Fax.fadmin               # add to the admin group
add_principal identifier.steam:110000000000000 Fax.fadmin               # add to the admin group

### Add People to Member 3
add_principal identifier.steam:110000000000000 Fax.member3              # add to the member 3 group
add_principal identifier.steam:110000000000000 Fax.member3              # add to the member 3 group

### Add People to Member 2
add_principal identifier.steam:110000000000000 Fax.member2              # add to the member 2 group
add_principal identifier.steam:110000000000000 Fax.member2              # add to the member 2 group

### Add People to Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # 
add_principal identifier.steam:110000118e687a9 Fax.member3              # Matthew M. civ 28
add_principal identifier.steam:1100001047bad4d Fax.member1              # TyAUS
add_principal identifier.steam:11000011452e583 Fax.member3              # 438| lucifer Morningstar
add_principal identifier.steam:11000010f6ff161 Fax.member3              # anthony pigeon
add_principal identifier.steam:1100001073cf28a Fax.member3              # McDonald
add_principal identifier.steam:11000010b2a8a21 Fax.member3              # Cuddly Zebra
add_principal identifier.steam:11000011d200293 Fax.member1              # Zach C.
add_principal identifier.steam:11000010355fCf2 Fax.member1              # 123
add_principal identifier.steam:1100001182e9929 Fax.member1              # Hawey
add_principal identifier.steam:11000010727a3f7 Fax.member1              # R. Serhant
add_principal identifier.steam:1100001355d1c23 Fax.member1              # EARL SWEATSHIRT
add_principal identifier.steam:11000010509d3ef Fax.member1              # Gamatrix
add_principal identifier.steam:11000011c54c5ae Fax.member1              # davidrichmangaming
add_principal identifier.steam:110000133be424c Fax.member1              # FirePolice69
add_principal identifier.steam:11000011a9410b5 Fax.member1              # Cordell S.
add_principal identifier.steam:110000108bf1bbf Fax.member1              # .Jake.
add_principal identifier.steam:11000011760a0cf Fax.member1              # Tie
add_principal identifier.steam:110000107cf9ca6 Fax.member1              # lukaslaursen
add_principal identifier.steam:110000102c52980 Fax.member1              # aril2
add_principal identifier.steam:11000010c38a5ba Fax.member1              # DSM Gaming
add_principal identifier.steam:1100001121211e2 Fax.member1              # Minipelican
add_principal identifier.steam:110000115a49f8c Fax.member1              # Carnage
add_principal identifier.steam:110000136446228 Fax.member1              # dwarfbeans
add_principal identifier.steam:11000010bdeb6c4 Fax.member1              # SweatoMonko
add_principal identifier.steam:1100001359d9b5f Fax.member1              # A A Ron
add_principal identifier.steam:11000010acba2ef Fax.member1              # Cst LANDCRUISER
add_principal identifier.steam:11000011ace5752 Fax.member1              # abcprice
add_principal identifier.steam:110000100133a7b Fax.member1              # Oliver Gills
add_principal identifier.steam:110000000000000 Fax.member1              # 
add_principal identifier.steam:110000100133a7b Fax.member1              # Sheep
add_principal identifier.steam:11000011aa7721d Fax.member1              # [635] S_D1ZZL3
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1
add_principal identifier.steam:110000000000000 Fax.member1              # Member 1



